<%- contentFor('xy') %>

<script src="http://code.jquery.com/jquery-1.6.2.min.js"></script>  
<script src="javascript/sweetalert.min.js"></script>
<script type="text/javascript">
$(function(){    
      $("#download").click(function(e){
  
                var map = {};
                var temp = "";
                $(".keys").each(function() {
                var name = $(this).attr("name");
                if(temp != name){
                  temp= name;
                }
                    map[$(this).attr("id")+"-"+name] = $(this).val();
                    console.log($(this).attr("id"));
                });
                map["accountName"] = $('#accountName').val();
                map["templateType"] = $('#templateType').val();
                map["templateName"] = $('#templateName').val();
            
               $.ajax({
                       type: "GET",
                       url: 'http://localhost:8080/SpringBootRestApi/api/getSample/',
                       data: map,
                       contentType: 'application/json',
                       success: function(res)
                        {
                        

                        window.location="http://localhost:8080/SpringBootRestApi/api/downloadTemplate/?accountName="+$('#accountName').val()+"&templateType="+$('#templateType').val()+
                                        "&templateName="+$('#templateName').val()+"&downloadType=temp";
                         var $toastContent = $('<span> Sample Project created </span>');
                         Materialize.toast($toastContent, 5000);

                           // show response from the php script.
                         },
                      error: function (msg) { alert("Sorry!!! "+msg.status); }
                     });
        });



/*
*  Load new fields step1
*/

           $('#download-button').click(function(e){
                  
                  
                var data = {};
                            data.accountName = $('#accountName').val();
                            data.templateType = $('#templateType').val();
                            data.templateName = $('#templateName').val();
                   $.ajax({
                           type: "GET",
                           url: 'http://localhost:8080/SpringBootRestApi/api/templateMetadata/',
                           data: data,
                           contentType: 'application/json',
                           success: function(res)
                            {
                               var inner = "";
                               var retValue = JSON.parse(res);
                                $.each( retValue, function( file, val ) {
                                var str = "Provide replacable values for"+ file +" below keyword : <br><br>";
                                inner = inner+str;
                                var keywords = val.split(",");
                                     for (var i = 0; i < keywords.length; i++) {
                                         var k = keywords[i];
                                          inner  = inner +"<div class=\"input-field col s6\"><input id=\""+k+"\"  name =\""+file+"\"type=\"text\" class=\"validate keys\"><label for=\"icon_prefix\">"+k+"</label></div>";

                                    }
                                 
                                
                                });
                               var test ="template";
                               
                                $("#dynamic-fields").html(inner);
                                $("#next-form").show();
                                // show response from the php script.
                           },
                        error: function (msg) { alert("Sorry!!! "+msg.status); }
                         });
              });       
    });
  </script>


  <div class="section no-pad-bot" id="index-banner">
    <div class="container"> 
      <br><br>
      <h1 class="header center orange-text">Dowload Project Template</h1>
      <div class="row center">
        <h5 class="header col s12 light">A modern Code Generting Plug in</h5>
      </div>
      

      <form action="#"   id = "uploadForm" >
      <div class="input-field col s6">
          <!--i class="material-icons prefix">account_circle</i-->
          <input id="accountName" type="text" class="validate">
          <label for="icon_prefix">Account Name</label>
        </div>
        <div class="input-field col s6">
          <!--i class="material-icons prefix">phone</i-->
          <input id="templateType" type="text" class="validate">
          <label for="icon_telephone">Template Type</label>
        </div>
       
         <div class="input-field col s6">
          <!--i class="material-icons prefix">phone</i-->
          <input id="templateName" type="text" class="validate">
          <label for="icon_telephone">Template Name</label>
        </div>

   
<div class="row center">
   <input type ="button" class="btn-large waves-effect waves-light orange" value="next" id = "download-button"/>
  
        </div>
      
      </form>
<div id="next-form" style="display:none" class="section no-pad-bot" id="index-banner">
      <form   id = 'uploadForm' action="#"  method ="POST">
      <div id ="dynamic-fields"></div>
  
     <input type ="button" class="btn-large waves-effect waves-light orange" value="Download" id = "download"/>
  
   
</form>
</div>
      <br><br>

    
  </div>


      <br><br>

    <div class="section">

    </div>
  </div>

