<%- contentFor('xy') %>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text">Smart Swift </h1>
      <div class="row center">
        <h5 class="header col s12 light">Readymade solutions for complex logic</h5>
      </div>
      <div class="row center">
        <!--a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light orange">Get Started</a-->
      </div>
      <br><br>

    </div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text">
              <img src="images/hand-book-symbolp_a3.jpg" alt="" class="circle responsive-img"><h2> <!-- notice the "circle" class -->
              <br>
            <h5 class="center">Speeds up development</h5>

            <p class="light">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we provide a smoother experience for developers to get the desired output .</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
          <h2 class="center light-blue-text">
          <img src="images/chatbot-icon.png" alt="" class="circle responsive-img"><h2> 
          <br><br>
            <h5 class="center">Bot, like a Boss</h5>

            <p class="light">We were able to create a assistant for you who never do anything other than what you have instructed. Bot is always open to  answer any questions a user may have. </p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">Easy to work with</h5>

            <p class="light">We have provided detailed documentation as well as specific code examples to help new users get started. </p>
          </div>
        </div>
      </div>

    </div>
    <br><br>

    <div class="section row center"  >
<iframe src='https://webchat.botframework.com/embed/Syntaxconversion?s=S15ntpu1lQs.cwA.lHw.aOBBbUH3ICjvXZZ7l7mwG8aw4DRTmFmLnPwxWBIGfcI'></iframe>
    </div>
  </div>

